.Footer {
    display: flex;
    justify-content: space-around;
    width: 85%;
    max-width: 100%;
    margin: 0 auto;
    padding: 42px 0 0px;
    border-top: 2px var(--white) solid;
    bottom: 0;
}

