@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap);


body {
    background-color: var(--palette-color3);
}


:root {
  --font-family: 'Open Sans', sans-serif;
  --palette-color1: #DB222A;
  --palette-color2: #EDERE4;
  --palette-color3: #2B2D42;
	--white: #FFFFFF;
	--black: #000000;
	--logo-color: #de5f5a;

  --footer-column-header-size: 20px;
  --about-header-size: 4rem;

	    /*scroll-behavior: smooth;*/
    font-size: 100%;
    --light: #fff;
    --dark: #000;
    --accent: hsl(173, 93%, 55%);
    --faccent: hsla(173, 93%, 55%, 0.8);
    --gray: hsl(0, 0%, 56%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

